<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406146378470-dp19hl51g2str4ktm86gsqh69ptm7uja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406146378470-dp19hl51g2str4ktm86gsqh69ptm7uja</string>
	<key>API_KEY</key>
	<string>AIzaSyClNkh23CHaGAedXuNhzgDC1Lftk8sB6GE</string>
	<key>GCM_SENDER_ID</key>
	<string>406146378470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masatech.miniOrientailing</string>
	<key>PROJECT_ID</key>
	<string>mini-orientation</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-orientation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406146378470:ios:b44ed740c62f9bbd372927</string>
	<key>DATABASE_URL</key>
	<string>https://mini-orientation.firebaseio.com</string>
</dict>
</plist>