<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002776865680-4puua8f3j3nv42ufdsc9bs6q40dt83bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002776865680-4puua8f3j3nv42ufdsc9bs6q40dt83bh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1002776865680-9sreml0clq65k3t153hsco4a3g4c6tgh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhyTlPtlTSFI1nMUOVXw3AJbgCQnWnq1w</string>
	<key>GCM_SENDER_ID</key>
	<string>1002776865680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masatech.miniOrientailing</string>
	<key>PROJECT_ID</key>
	<string>minimini-orientation</string>
	<key>STORAGE_BUCKET</key>
	<string>minimini-orientation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002776865680:ios:27a05d0432c99621986115</string>
	<key>DATABASE_URL</key>
	<string>https://minimini-orientation.firebaseio.com</string>
</dict>
</plist>